@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
 .maincontainer{

    height:100vh;
    justify-content:center;
    align-items:center;
    
    padding:10px;
    background:hsl(30deg 100% 69% / 79%);
    
    

} 
.container{
	margin: 105px;
	text-align:left;
    max-width:700px;
    width:100%;
    background:#ffff;
    padding: 25px 30px;
    border-radius:5px;
   
  box-shadow: 5px 10px 18px #888888;

}
.container title{
    font-size:25px;
    font-size:500;
    position:relative;
}
.container .title::before{
    content:"";
    height:3px;
    width:30px;
    background:linear-gradient(120deg,#ffdead,#abcdef);
    left:0;
    bottom:0;
    position:absolute;

}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }

  form .user-details .input-box{
    width:calc(100% / 2 - 20px);
    margin:10px 0 12px 0;
  }
  .user-details .input-box .details{
    font-weight:500;
    margin-bottom:5px;
    display:block;
  }
  .user-details .input-box input{
    height:45px;
    width:100%;
    outline:none;
    border-radius:5px;
    border:1px solid #ccc;
    padding-left: 15px;
    font-size:16px;

  }
  form .button{
    height:45px;
    margin:45px 0;
    
    }
    form .button input{
    height:100%;
    width:100%;
    outline:none;
    background:#000000;
    color:rgb(255, 251, 251);
    border:none;
    font-size:18px;
    border-radius:5px;
    letter-spacing:1px;
    }
    form .button input:hover{
        background:#fd9972;
        
        }
      
  
        * {
            padding: 0;
            margin: 0;
            text-decoration: none;
            list-style: none;
            box-sizing: border-box;
        }
        
        body {
            font-family: montserrat;
        }
        
        nav {
            background:  #000000;
            height: 80px;
            width: 100%;
        }
        
        label.logo {
            color: white;
            font-size: 35px;
            line-height: 60px;
            padding: 0 100px;
            font-weight: bold;
        }
        
        nav ul {
            float: right;
            margin-right: 20px;
        }
        
        nav ul li {
            display: inline-block; 
            line-height: 80px;
            margin: 0 5px;
        }
        
        nav ul li a {
            color: white;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
        }
        
        a.active, a:hover {
            background: #fd9972;
            transition: .5s;
        }
        .custom-select {
            position: relative;
            font-family: Arial;
          }
          
          .custom-select select {
            display: none; /*hide original SELECT element: */
          }
          
          .select-selected {
            background-color: DodgerBlue;
          }
          
          /* Style the arrow inside the select element: */
          .select-selected:after {
            position: absolute;
            content: "";
            top: 14px;
            right: 10px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: #fff transparent transparent transparent;
          }
          
          /* Point the arrow upwards when the select box is open (active): */
          .select-selected.select-arrow-active:after {
            border-color: transparent transparent #fff transparent;
            top: 7px;
          }
          
          /* style the items (options), including the selected item: */
          .select-items div,.select-selected {
            color: #ffffff;
            padding: 8px 16px;
            border: 1px solid transparent;
            border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
            cursor: pointer;
          }
          
          /* Style items (options): */
          .select-items {
            position: absolute;
            background-color: DodgerBlue;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 99;
          }
          
          /* Hide the items when the select box is closed: */
          .select-hide {
            display: none;
          }
          
          .select-items div:hover, .same-as-selected {
            background-color: rgba(0, 0, 0, 0.1);
          }
          